/* Provide sufficient contrast against white background */
/* a {
  color: #0366d6;
} */

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
/* ------ General ------ */
* {
  margin: 0;
  padding: 0;
}

html, body, #root, .page {
  height: 100%;
}
.container {
  height: 85%;
  width: 90%;
}

*:focus {
  outline: none;
}
/* *:visited {
  color: inherit;
} */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
:root {
  /* Root font size (Scales most stuff) */
  font-size: 1em;
  font-weight: 100;
}

body {
  overflow: hidden;
}

/* Measure elements by the outline of their border instead of by their content */
:root {
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}


/* Simple Scroll(bar) */
.simple-scroll {
  --scrollbar-size: 0.85rem;
}
.simple-scroll::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
.simple-scroll::-webkit-scrollbar-corner {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

/* Log */
.log {
  font-size: 0.75em;
  height: 100%;
  overflow: auto;
}

/* Log-Page Content */
.log-page__content {
  flex: 1 1 auto;
}

.log-page__wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.log-warnings {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-left: -0.5rem;
}

.log-warning__box {
  display: inline-flex;
  padding: 0.7rem;
  align-items: center;
  margin-left: 0.5rem;
}

.log-warning__box-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
}

.log-warning__box-text {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.code {
  display: contents;
}